<%- include('header'); %>

<div id="react-root"></div>

<script src="react.js"></script>
<script src="react-dom.js"></script>
<script src="ReactRouter.js"></script>

<script src="SetList.js"></script>
<script src="CardList.js"></script>
<script src="App.js"></script>

<script src="script.js"></script>
<%- include('footer'); %>
