<%- include('header'); %>

<h1>Create Account</h1>

<form method="POST" action="create-account">

  <input name="email"></input>

  <input name="password"></input>

  <button>create account</button>

</form>

<%- include('footer'); %>
