<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form method="POST" action="create-account">

      <input name="email"></input>

      <input name="password"></input>

      <button>create account</button>

    </form>

  </body>
</html>
